{% extends 'base.html' %}
{% block title %} Movie Ratings Home {% endblock %}
{% block body %}

<div class="row">
  <div class="col-3">
    <br>
    <h2 class="create-watchlist-title">Update Your Watch Status</h2>
  <form>
    <p class="create-watchlist update-my-status">
      Current Watch Status: <br> <input type="text" name="updated-status" id="updated-status">
      </p>
    <p class="create-watchlist">
      <button type="submit" id="update-status">Submit</button>
    </p>
  </form>
  </div>
  <div class="col-6">
    <h1>{{ media_name }}</h1>
  </div>

</div>
<br>
<div class="row">
    <div class="col-6">

{% if not comments %}
    <p>
        There are no discussions created for this media yet!
    </p>
{% endif %}

{% if comments %}
<h2>
  Discussion Posts:
</h2>
  {% for comment in comments %}
    <p>
      {{ users[loop.index0].name }} created thread:
        <button type="submit" class="discussion-button" name="discussion-button" value="{{ comment.comment_id }}">{{ comment.title }}</button>
    </p>
  {% endfor %}

{% endif %}

<div id="discussion">
</div>
<div id="add-discussion">
    <form id="new-discussion">
        <p>
          Click 
          <button type="submit" name="new-discussion">here</button>
          to create a new discussion post!
        </p>
      </form>
    </div>
</div>

<div class="col-6">
<div id="discussion-thread"></div>
</div>

</div>

{% endblock %}

{% block js %}
    <script src="/static/js/add-discussion.js"></script>
{% endblock %}