{% extends 'base.html' %}
{% block title %} Watch Together Home Page {% endblock %}
{% block body %}

{% if not user %}
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <h1 id="homepage-title">Watch Together</h1>
  </div>
  <div class="col-3"></div>
</div>
<br>
<br>
<div class="row">
  <div class="col">
  <h2>Create an Account</h2>
  <form action="/users" method="POST">    
    <p>
      Name <input type="text" name="name">
    </p>
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  </div>

  <div class="col">
  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  </div>
</div>
{% endif %}

{% if user %}

<div class="row">
  <div class="col-3">
    <br>
    <h2 class="create-watchlist-title">Create a Watchlist</h2>
  <form action="/create-watchlist" method="POST">
    <p class="create-watchlist">
      Watchlist Name: <br> <input type="text" name="watchlist_name">
      </p>
      <p class="create-watchlist">
      Watchlist Description: <br> <textarea name="watchlist_desc"></textarea>
    </p>
    <p class="create-watchlist">
      <input type="submit">
    </p>
  </form>
  </div>
  <div class="col-6">
    <h1 id="homepage-title">watch together</h1>
  </div>
  <div class="col-3" id="log-out">
    <br>
    <form action="/log-out" method="POST">
    <p>
      <button type="submit">Log Out</button>
    </p>
  </form>
  </div>
</div>

<h2> Welcome, {{user.name}}! </h2>

  {% if not user.watchlists %}
    <p>
      You have no content. Add some!
    </p>
  {% endif %}

  {% if user.watchlists %}
  <br>
  <div class="row">
    {% set status_index = 0 %}
    {% for watchlist in user.watchlists %}
    <div class="col-4 watchlist">
      <p>
        Watchlist Name: {{ watchlist.name }}
      </p>
      <p>
        Description: {{ watchlist.description }}
      </p>
      <ul>
      {% for media in watchlist.media %}
        {% for status in watch_statuses %}
        {% if status.media_id == media.media_id %}
        {% set status = status.status %}
        {% endif %}
        {% endfor %}
      <li><a class="nav-link my-media" href="/view-discussion-threads?media-name={{media.name}}">{{ media.name }} 
        {% for status in watch_statuses %}
        {% if status.media_id == media.media_id %}
        ({{status.status}})
        {% endif %}
        {% endfor %}    
        </a></li>
      
      {% endfor %}
    </ul>
    </div>
    {% endfor %}
  </div>
</div>
  {% endif %}

{% endif %}

{% endblock %}