{% extends 'base.html' %}
{% block title %} Movie Ratings Home {% endblock %}
{% block body %}

<h1>Welcome!</h1>

<h2>Navigation</h2>
<ul>
  <li><a href="/media-search">Search for a specific show</a></li>
  <li><a href="/media">See what others are watching</a></li>
</ul>

{% if not user %}
  <h2>Create an Account</h2>
  <form action="/users" method="POST">    
    <p>
      Name <input type="text" name="name">
    </p>
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
{% endif %}

{% if user %}

  {% for watchlist in user.watchlists %}
    {{ watchlist.name }}
    {% for media in watchlist.media %}
      {{ media.name }}
    {% endfor %}
  {% endfor %}

{% endif %}

{% endblock %}