{% extends 'base.html' %}
{% block title %} Movie Ratings Home {% endblock %}
{% block body %}

<h1>Add New Media</h1>

<br>
<br>

<div class="row">
<div class="col">
<section id="select-movie">
<h2 class="search-forms">Select a Movie</h2>
<form>
  <p class="search-forms">
    Type in a movie title <input type="text" name="title" id="movie-title">
  </p>

  <p class="search-forms">
    <input type="submit">
  </p>
</form>
</section>
</div>

<br>

<div class="col">
<section id="select-tv">
<h2 class="search-forms">Select a TV Show</h2>
<form>
  <p class="search-forms">
    Type in a TV show title <input type="text" name="title" id="tv-title">
  </p>

  <p class="search-forms">
    <input type="submit">
  </p>
</form>
</section>
</div>

<br>

<div class="col search-forms">
<h2 class="search-forms">Search for Media</h2>
<!-- <form action="/search-results"> -->
<section id="search-by-criteria">
<form>

<input type="radio" name="media_type" value="movie" id="movie" class="media_type">
<label for="movie">Movie</label>
<input type="radio" name="media_type" value="tv" id="tv" class="media_type">
<label for="tv">TV Show</label>

<div>
<label for="genre">Select a Genre</label>
<input list="genres" name="genre" id="genre">
<datalist id="genres">
  {% for genre in genres %}
  <option value="{{ genre }}">
  {% endfor %}
</datalist>
</div>

<div>
<label for="streaming">Select a Streaming Service</label>
<input list="streamings" name="streaming" id="streaming">
<datalist id="streamings">
    {% for streaming in streamings %}
    <option value="{{ streaming }}">
    {% endfor %}
</datalist>
</div>

<p>
    <input type="submit">
</p>
</form>
</section>
</div>
</div>

<div class="row search-results">
  
<div id="results">

</div>
</div>

{% endblock %}

{% block js %}
<script src="/static/js/search-by-criteria.js"></script>
{% endblock %}