{% extends 'base.html' %}
{% block title %} Movie Ratings Home {% endblock %}
{% block body %}

<h1>Welcome!</h1>

<h2>Navigation</h2>
<ul>
  <li><a href="/movies">link1</a></li>
  <li><a href="/users">link2</a></li>
</ul>


<h2>Results</h2>

<p>
    Your trailer:
    <iframe width="560" height="315" src={{ media_info[0] }} frameborder="0" allowfullscreen></iframe>
</p>

<form action="/add-to-watchlist">
  Watchlist name: <input type="text" name="watchlist-name">
  <button type="submit" name="media-info" value="{{ media_info }}">Add this to your watchlist!</button>
</form>
<!-- <div id="app"></div> -->
<br>
<form action="/similar-media/{{ media_info[3] }}/{{ media_info[2] }}">
  <button type="submit">View a similar media!</button>
</form>
<br>
<form action="/media-search">
  <button type="submit">Return to search input!</button>
</form>

{% endblock %}

{% block js %}
	<script src="/static/js/add-to-watchlist.jsx" type="text/jsx"></script>
{% endblock %}